<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Tourify</title>
   <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
    <link rel="website icon" type="png" href="../../static/images/logo.png">
   <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
        <script src="geolet.js"></script>

        <!-- leaflet css  -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@v0.74.0/dist/L.Control.Locate.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@v0.74.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.74.4/dist/L.Control.Locate.min.css" />



        <!-- Especificaciones para el mapa -->

   <style>
    nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}


      nav {
        position: relative;
        z-index: 1000; /* Puedes ajustar este valor según sea necesario */
      }

      #map {
        width: 100%;
        height: 100vh;
        position: fixed;
        bottom: 0;
        
      }
      @media (max-width: 768px) {
        #map {
            width: 100%; 
            height: 89.3vh;
        }
      }

      body {
                  margin: 0;
                  padding: 0;
              }
              

        .leaflet-popup-content a.leaflet-popup-link {
          color: white; 
        }
        .leaflet-container a {
          color: white;
        }   

      
    </style>


<!-- NAVBAR de la pagina -->   
<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  <a href="" class="flex items-center">
      <img src="../../static/images/logo.png" class="h-12 mr-3" alt="" />
  </a>
  <div class="flex md:order-2">
      <a>

<div class="flex items-center">
<img id="avatarButton" type="button" data-dropdown-toggle="userDropdown" data-dropdown-placement="bottom-start" class="w-10 h-10 rounded-full cursor-pointer" src="../../static/usersimages/<%= img[0].image %>" alt="User dropdown">
</div>

          <!-- Dropdown menu -->
          <div id="userDropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
              <div class="px-4 py-3 text-sm text-gray-900 dark:text-white text-center">
                <div>|   <%= img[0].name %>   |</div>
                <div class="font-medium truncate"></div>
              </div>
              <div class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">
                <div>
                  <a href="/profile" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Mi perfil</a>
                </div>
                <% if (img[0].role === 2) { %>
                  <div>
                    <a href="/support" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Comentarios</a>
                  </div>
                  <% } %>
              </div>

              <div class="py-1">
                <a href="/logout" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Cerrar sesión</a>
              </div>
          </div>
                      
      </a>
       
      <button data-collapse-toggle="navbar-sticky" type="button" class="pt-2 top-0 z-50 inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">

                <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
  </div>
  <div class="flex items-center justify-between z-1000 0een hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky"> 
    <div class=" top-0 z-50 w-full md:relative md:flex md:w-auto md:order-1" id="navbar-sticky">

    
    <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
      <li>
        <a href="/homeu" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" aria-current="page">Home</a>
      </li>
      <li>
        <a href="/map" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Map</a>
      </li>
      <li>
        <a href="/achievements" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Achievements</a>
      </li>
      <li>
        <a href="/events" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Events</a>
      </li>
      <li>
        <a href="/admin" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500">Admin</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
 
</head>

<!-- Configuraciones del mapa -->

<body>
  
  <div id="map"></div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.74.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>

   <script>


      // Obtener la geolocalización 
      navigator.geolocation.getCurrentPosition(function(position) {

      var map = L.map('map').setView([28.643951810520395, -106.0729363634578], 15);

      //DECLARACION DE TODOS LOS ICONOS DE LAS MARCAS

      var catedralIcon = L.icon({
        iconUrl: '../../static/iconsmarks/catedralIcon.png',
        iconSize:     [35, 35],
        iconAnchor:   [22, 94],
        popupAnchor:  [-3, -76]
      });

      var restaurantIcon = L.icon({
        iconUrl: '../../static/iconsmarks/restaurantIcon.png',
        iconSize:     [35, 35],
        iconAnchor:   [22, 94],
        popupAnchor:  [-3, -76]
      });

      var eventIcon = L.icon({
        iconUrl: '../../static/iconsmarks/eventIcon.png',
        iconSize: [32, 32],
        iconAnchor: [22, 94],
        popupAnchor: [-3, -76]
      });

      var parchmentIcon = L.icon({
        iconUrl: '../../static/iconsmarks/parchmentIcon.png',
        iconSize: [35, 40],
        iconAnchor: [22, 94],
        popupAnchor: [-3, -76]
      });

      var townIcon = L.icon({
        iconUrl: '../../static/iconsmarks/townIcon.png',
        iconSize: [35, 40],
        iconAnchor: [22, 94],
        popupAnchor: [-3, -76]
      });

      var monumentIcon = L.icon({
        iconUrl: '../../static/iconsmarks/monumentIcon.png',
        iconSize: [35, 40],
        iconAnchor: [22, 94],
        popupAnchor: [-3, -76]
      });

      var theatreIcon = L.icon({
        iconUrl: '../../static/iconsmarks/theaterIcon.png',
        iconSize: [35, 35],
        iconAnchor: [22, 94],
        popupAnchor: [-3, -76]
      });

      var museumIcon = L.icon({
        iconUrl: '../../static/iconsmarks/museumIcon.png',
        iconSize: [35, 40],
        iconAnchor: [22, 94],
        popupAnchor: [-3, -76]
      });


                                  // Marcadores que aparecen en el mapa


        //RESTAURANTES MARCAS

        <% restaurants.forEach(restaurant => { %>
        L.marker([<%= restaurant.coordinate %>], { icon: restaurantIcon }).addTo(map)
        .bindPopup('<div class="m-2 mb-1"><span class="inline-flex justify-center items-center py-0.5 px-1 text-xs font-medium text-center text-white rounded-lg bg-green-700">COMIDA</span></div><div class="block px-4 py-2 text-center font-semibold text-lg text-blue-900 hover:text-blue-900 transition duration-300 ease-in-out"><%= restaurant.name %></div>   <div class="text-center"><img src="../../static/imagesrestaurants/<%= restaurant.image %>" alt="<%= restaurant.name %>" class="mx-auto" width="300" /><p><%= restaurant.description %></p> <a href="/deleterestaurant/<%= restaurant.id_food %>" class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full mb text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Eliminar marca</a> </div>');
        <% }); %>

        //EVENTOS MARCAS
        
        <% events.forEach(evento => { %>
        L.marker([<%= evento.coordinate %>], { icon: eventIcon }).addTo(map)
        .bindPopup('<div class="m-2 mb-1"><span class="inline-flex justify-center items-center py-0.5 px-1 text-xs font-medium text-center text-white rounded-lg bg-green-700">EVENTO</span></div><div class="block px-4 py-2 text-center font-semibold text-lg text-blue-900 hover:text-blue-900 transition duration-300 ease-in-out"><%= evento.name %></div>   <div class="text-center"><img src="../../static/imagesevents/<%= evento.image %>" alt="<%= evento.name %>" class="mx-auto" width="300" /><p><%= evento.description %></p>  <a href="/deleteevent/<%= evento.id_event %>" class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full mb text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Eliminar marca</a>  </div>');
        <% }); %>
        
        //LUGARES HISTORICOS MARCAS
        
        <% historicalplaces.forEach(historicalplace => { %>
        L.marker([<%= historicalplace.coordinate %>], { icon: parchmentIcon }).addTo(map)
        .bindPopup('<div class="m-2 mb-1"><span class="inline-flex justify-center items-center py-0.5 px-1 text-xs font-medium text-center text-white rounded-lg bg-blue-700">LUGAR HISTORICO</span></div><div class="block px-4 py-2 text-center font-semibold text-base text-black hover:text-blue-900 transition duration-300 ease-in-out"><%= historicalplace.name %></div>   <div class="text-center"><img src="../../static/imageshistoricals/<%= historicalplace.image %>" alt="<%= historicalplace.name %>" class="mx-auto" width="300" /><p></p><a href="/deletehistorical/<%= historicalplace.id_historical %>" class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full mb text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Eliminar marca</a></div>');
        <% }); %>

          //MUSEOS MARCAS

        <% museums.forEach(museum => { %>
        L.marker([<%= museum.coordinate %>], { icon: museumIcon }).addTo(map)
        .bindPopup('<div class="m-2 mb-1"><span class="inline-flex justify-center items-center py-0.5 px-1 text-xs font-medium text-center text-white rounded-lg bg-blue-700">MUSEO</span></div><div class="block px-4 py-2 text-center font-semibold text-base text-black hover:text-blue-900 transition duration-300 ease-in-out"><%= museum.name %></div>   <div class="text-center"><img src="../../static/imageshistoricals/<%= museum.image %>" alt="<%= museum.name %>" class="mx-auto" width="300" /><p></p><a href="/deletehistorical/<%= museum.id_historical %>" class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full mb text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Eliminar marca</a></div>');
        <% }); %>

        //MONUMENTOS MARCAS

        <% monuments.forEach(monument => { %>
        L.marker([<%= monument.coordinate %>], { icon: monumentIcon }).addTo(map)
        .bindPopup('<div class="m-2 mb-1"><span class="inline-flex justify-center items-center py-0.5 px-1 text-xs font-medium text-center text-white rounded-lg bg-blue-700">MONUMENTO</span></div><div class="block px-4 py-2 text-center font-semibold text-base text-black hover:text-blue-900 transition duration-300 ease-in-out"><%= monument.name %></div>   <div class="text-center"><img src="../../static/imageshistoricals/<%= monument.image %>" alt="<%= monument.name %>" class="mx-auto" width="300" /><p></p><a href="/deletehistorical/<%= monument.id_historical %>" class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full mb text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Eliminar marca</a></div>');
        <% }); %>

          //TEATROS MARCAS

        <% theaters.forEach(theater => { %>
        L.marker([<%= theater.coordinate %>], { icon: theatreIcon }).addTo(map)
        .bindPopup('<div class="m-2 mb-1"><span class="inline-flex justify-center items-center py-0.5 px-1 text-xs font-medium text-center text-white rounded-lg bg-blue-700">TEATRO</span></div><div class="block px-4 py-2 text-center font-semibold text-base text-black hover:text-blue-900 transition duration-300 ease-in-out"><%= theater.name %></div>   <div class="text-center"><img src="../../static/imageshistoricals/<%= theater.image %>" alt="<%= theater.name %>" class="mx-auto" width="300" /><p></p><a href="/deletehistorical/<%= theater.id_historical %>" class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full mb text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Eliminar marca</a></div>');
        <% }); %>

          //PUEBLOS MAGICOS MARCAS

          <% towns.forEach(town => { %>
        L.marker([<%= town.coordinate %>], { icon: townIcon }).addTo(map)
        .bindPopup('<div class="m-2 mb-1"><span class="inline-flex justify-center items-center py-0.5 px-1 text-xs font-medium text-center text-white rounded-lg bg-blue-700">PUEBLO MAGICO</span></div><div class="block px-4 py-2 text-center font-semibold text-base text-black hover:text-blue-900 transition duration-300 ease-in-out"><%= town.name %></div>   <div class="text-center"><img src="../../static/imageshistoricals/<%= town.image %>" alt="<%= town.name %>" class="mx-auto" width="300" /><p></p><a href="/deletehistorical/<%= town.id_historical %>" class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full mb text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Eliminar marca</a></div>');
        <% }); %>



          //MENSAJE DE ABAJO A LA DERECHA QUE CITA A LEAFLET

              const Jawg_Sunny = L.tileLayer('https://{s}.tile.jawg.io/jawg-sunny/{z}/{x}/{y}{r}.png?access-token=yj75lsDgheFJbRZmAjiim07TKAapfZ5oHwT501C8AsBCb8WUuVjShJlyZozGX6Bt', {
                attribution: '<a href="http://jawg.io" title="Tiles Courtesy of Jawg Maps" target="_blank">&copy; <b>Jawg</b>Maps</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                minZoom: 0,
                maxZoom: 22,
                subdomains: 'abcd',
              });



        //PRUEBA DE GEOLOCALIZACION 

              //Se añaden todas las marcas al mapa
        
                Jawg_Sunny.addTo(map);
                
                /* map.locate({setView: true, maxZoom: 16});

                function onLocationFound(e) {
                    var userLocation = e.latlng;
                    var radius = e.accuracy / 2;

                    L.marker(userLocation).addTo(map)
                        .bindPopup("Estás dentro de " + radius + " metros de este punto").openPopup();

                    L.circle(userLocation, radius).addTo(map);
                }

                map.on('locationfound', onLocationFound); */

                L.geolet({ position: 'bottomleft' }).addTo(map);});


   </script>



<!-- ACA EMPIEZA TODO LO DEL SECTION ADMIN -->


<!-- ASIDE DE LA PAGINA QUE ESTA A LA IZQUIRDA -->

<aside id="logo-sidebar" class="fixed flex-1 top-0 left-0 z-40 w-80 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
     <a href="" class="flex items-center pl-2.5 mb-5">
        <img src="../../static/images/logo.png" class="mt-20 h-6 mr-3 sm:h-7" alt="Flowbite Logo" />
        <span class="mt-20 self-center text-xl font-semibold whitespace-nowrap dark:text-white">Administrador</span>
     </a>
     <style>
      .button.active {
          color: #3B82F5; /* Cambia este color según tus preferencias */
      }
      </style>

     <div class="text-sm font-medium text-center mb-4 border-b border-gray-200 dark:text-gray-100 dark:border-gray-700">

      <!-- NAV DE EL ADMINISTRADOR PARA CAMBIAR ENTRE HISTORICO, COMIDA Y EVENTO -->

      <nav role="navigation">
          <ul class="flex">
              <li class="mr-2">
                  <a href="javascript:void(0)" class="button active" data-tab="profile" role="tab" aria-selected="true">Histórico</a>
              </li>
              <li class="mr-2">
                  <a href="javascript:void(0)" class="button" data-tab="dashboard" role="tab" aria-selected="false">Comida</a>
              </li>
              <li class="mr-2">
                  <a href="javascript:void(0)" class="button" data-tab="settings" role="tab" aria-selected="false">Evento</a>
              </li>
          </ul>
      </nav>
  </div>

                            <!-- AQUI ESTA EL FORMULARIO DE HISTORICALS -->
  
  <!-- Contenido específico para cada pestaña -->
  <section id="select-content-profile" class="h-40">
      <!-- Contenido de la pestaña Historical -->
      <form enctype="multipart/form-data" action="/addhistorical" method="POST" >

          <label for="namehistorical" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre de la Ubicación</label>
            <input type="text" id="namehistorical" name="namehistorical" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Angel de la Independencia" required>
          <label for="coordinate-historical" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white mt-2">Coordenadas</label>
            <input type="text" id="coordinatehistorical" name="coordinatehistorical" aria-describedby="helper-text-explanation" class="bg-gray-50 mb-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="28.64186518497492, -106.07286827165497" required>
          
          <label for="description-historical" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white mt-2 mb-2">Información</label>
            <div class="w-full mb-2 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
                <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
                    <label for="description-historical" class="sr-only">Your comment</label>
                      <textarea id="descriptionhistorical" name="descriptionhistorical" rows="4" class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" placeholder="Es una de los monumentos más importantes..." required></textarea>
                </div>
            </div>

          <label for="typepin" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white mt-2 mb-2">Tipo de Pin de la Mark</label>
           
              <select id="typehistorical" name="typehistorical" class="bg-gray-50 mb-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                <option value="1">Lugar Historico</option>  
                <option value="2">Museo</option>
                <option value="3">Estatua</option>
                <option value="4">Teatro</option>
                <option value="5">Pueblo Mágico</option>
              </select>
                        
          <label for="year-construction" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white mt-2">Año de construcción</label>
            <input type="text" id="yearhistorical" name="yearhistorical" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="1826" required>
          <label for="video_historical" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white mt-2">URL del video (Youtube)</label>
            <input type="text"id="urlhistorical" name="urlhistorical" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="https://www.youtube.com/..." required> 
          <label class="block mb-2 mt-1 text-sm font-medium text-gray-900 dark:text-white" for="image_place_historical">Imágen del lugar</label>
            <input id="imagehistorical" name="imagehistorical"  class="mb-4 block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" type="file" required>
            
          <label class="block mb-2 mt-1 text-sm font-medium text-gray-900 dark:text-white" for="model_3d">Modelo 3D</label>
            <input id="modelhistorical" name="modelhistorical" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 mb-3" type="file" required>
 
          <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center ml-24 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Guardar</button>

        </form>

    </section>
  
                            <!-- AQUI ESTA EL FORMULARIO DE RESTAURANTES -->

  <section id="select-content-dashboard" class="h-40 hidden">
      <!-- Contenido de la pestaña Food -->
      <form action="/addrestaurant" method="POST" enctype="multipart/form-data">

          <label for="helper-text-food" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre de la Comida</label>
            <input type="text" id="namerestaurant" name="namerestaurant" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Tacos al pastor" required>
          
            <label for="helper-text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white mt-2">Coordenadas</label>
            <input type="text" id="coordenatesrestaurant" name="coordenatesrestaurant" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="28.64186518497492, -106.07286827165497" required>
          
            <label for="helper-text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white mt-2 mb-2">Información</label>
          
            <div class="w-full mb-2 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
                <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
                    <label for="comment" class="sr-only">Your comment</label>
                    <textarea id="descriptionrestaurant" name="descriptionrestaurant" rows="4" class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" placeholder="Es una de los restaurantes más importantes..." required></textarea>
                </div>
            </div>
      
          <label class="block mb-2 mt-1 text-sm font-medium text-gray-900 dark:text-white" for="multiple_files">Imágen</label>
            <input type="file" id="imagerestaurant" name="imagerestaurant" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 mb-3" required>

            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center ml-24 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Guardar</button>
            
      </form>  


        </section>


                            <!-- AQUI ESTA EL FORMULARIO DE EVENTOS -->

  
  <section id="select-content-settings" class="h-40 hidden">
      <!-- Contenido de la pestaña Events -->

      <form action="/addevent" method="POST" enctype="multipart/form-data">
          <label for="helper-text-event" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre del Evento</label>
            <input type="text" id="nameevent" name="nameevent" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Feria de Santa Rita" required>
          <label for="helper-text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white mt-2">Coordenadas</label>
            <input type="text" id="coordinateevent" name="coordinateevent" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="28.64186518497492, -106.07286827165497" required>
          <label for="helper-text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white mt-2 mb-2">Información</label>

            <div class="w-full mb-2 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
                <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
                    <label for="comment" class="sr-only">Your comment</label>
                    <textarea id="descriptionevent" name="descriptionevent" rows="4" class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" placeholder="Es una de los eventos más importantes..." required></textarea>
                </div>
            </div>

        <label class="block mb-2 mt-1 text-sm font-medium text-gray-900 dark:text-white" for="multiple_files">Imágen (1920 x 1080)</label>
          <input  id="imageevent" name="imageevent" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 mb-3" type="file" required>
  
            
        <label class="block mb-2 mt-1 text-sm font-medium text-gray-900 dark:text-white" for="multiple_files">Fecha del evento</label>

          <div class="relative max-w-sm">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
               <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </div>

            <input datepicker datepicker-buttons id="dateevent" name="dateevent" type="text" class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="2023-05-18 00:00:00" required>
          </div>

          <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center ml-24 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Guardar</button>
                 
        </form>  

    </section>
  

                                <!-- SCRIPT DEL NAV DEL ASIDE -->

  <script>
      const tabs = Array.from(document.querySelectorAll(".button"));
      const contentArray = Array.from(document.querySelectorAll('section'));
  
      tabs.forEach(tab => {
          tab.addEventListener('click', () => {
              const target = tab.getAttribute('data-tab');
  
              tabs.forEach(t => {
                  t.classList.remove('active');
                  t.setAttribute('aria-selected', 'false');
              });
  
              contentArray.forEach(content => {
                  content.classList.add('hidden');
              });
  
              tab.classList.add('active');
              tab.setAttribute('aria-selected', 'true');
              document.getElementById(`select-content-${target}`).classList.remove('hidden');
          });
      });
  </script>
  
</aside>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>


<!-- BOTON QUE NO SE PARA QUE ES -->

<button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
   <span class="sr-only">Open sidebar</span>
   <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
   </svg>
</button>


<!-- SCRIPT QUE NO SE PARA QUE ES -->

   <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>


   
<!-- SCRIPT PARA LO DE LA GEOLOCALIZACION -->

</body>

</html>