<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../../static/images/logo.png" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tourify</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css"  rel="stylesheet" />
    <style>body {
      background-color: #111827;
    }
    </style>
<style>
    #userDropdown {
  z-index: 1000; /* Puedes ajustar este valor según sea necesario para que esté por delante de otros elementos */
}


</style>
    
<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  <a href="" class="flex items-center">
      <img src="../../static/images/logo.png" class="h-12 mr-3" alt="Flowbite Logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Tourify</span>
  </a>
  <div class="flex md:order-2">
      <a>

<div class="flex items-center">
<img id="avatarButton" type="button" data-dropdown-toggle="userDropdown" data-dropdown-placement="bottom-start" class="w-10 h-10 rounded-full cursor-pointer" src="../../static/usersimages/<%= img[0].image %>" alt="User dropdown">
</div>

          <!-- Dropdown menu -->
          <div id="userDropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
              <div class="px-4 py-3 text-sm text-gray-900 dark:text-white text-center">
                <div>| <%= img[0].name %> |</div>
                <div class="font-medium truncate"></div>
              </div>
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">
                <li>
                  <a href="/profile" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Mi perfil</a>
                </li>
                <li>
                  <a href="/profile" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Soporte</a>
                </li>
              </ul>
              <div class="py-1">
                <a href="/logout" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Cerrar sesión</a>
              </div>
          </div>
                      
      </a>
       
      <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
  </div>
  <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
    <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
      <li>
        <a href="/homeu" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" aria-current="page">Home</a>
      </li>
      <li>
        <a href="/map" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Map</a>
      </li>
      <li>
        <a href="/achievements" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Achievements</a>
      </li>
      <li>
        <a href="/events" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Events</a>
      </li>
      <% if (img[0].role === 2) { %>
        <li>
          <a href="/admin" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Admin</a>
        </li>
      <% } %>
    </ul>
  </div>
  </div>
</nav>
  
  
  <div class="bg-gray-800 items-center justify-center">

    <div class="bg-gray-800 pt-5"></div>
  
    <main class="bg-gray-800">
      <div class="mb-4 sm:mb-6 md:mb-0 w-full max-w-screen-md mx-auto relative" style="height: 24em;">
        <div class="absolute left-0 bottom-0 w-full h-full z-10"
          style="background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.7));"></div>
        <img src="../../static/imageshistoricals/<%= historical[0].image %>" class="absolute left-0 top-0 w-full h-full z-0 object-cover" />
        <div class="p-4 absolute bottom-0 left-0 z-20">
          <a href="#"
            class="px-3 sm: py-1 bg-black text-gray-200 inline-flex items-center justify-center mb-2 sm:mb-3"><%= historical[0].pintype %></a>
          <h2 class="text-2xl sm:text-4xl font-semibold text-gray-100 leading-tight sm:leading-snug">
            <%= historical[0].name %>
          </h2>
          <div class="flex mt-2 sm:mt-3">
            <img src="../../static/iconsstates/iconochihuahua.jpg"
              class="h-8 w-8 sm:h-10 sm:w-10 rounded-full mr-2 object-cover" />
            <div>
              <p class="font-semibold text-gray-200 text-xs sm:text-sm">Chihuahua, Chih. México</p>
              <p class="font-semibold text-gray-400 text-xxs sm:text-xs"> Año de construcción: <%= historical[0].year %> </p>
            </div>
          </div>
        </div>
      </div>
  
      <div class=" lg:px-0 mt-6 sm:mt-12 text-gray-100 max-w-screen-md mx-auto text-base sm:text-lg leading-relaxed p-2">
        <p class="pb-3 sm:pb-6"><%= historical[0].description %></p>

        <div class="flex items-center justify-center bg-gray-800 text-white">
          <div class="lg:aspect-w-16 lg:aspect-h-9 sm:aspect-w-5 sm:aspect-h-4">
            <iframe id="youtubeIframe" class="mx-auto lg:w-full lg:h-full sm:w-full sm:h-full" src="" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        
        <script>
          // Reemplaza el enlace del video de YouTube con el nuevo enlace
          function changeVideo(link) {
            const youtubeIframe = document.getElementById('youtubeIframe');
            const newSrc = `https://www.youtube.com/embed/${getYoutubeVideoId(link)}`;
            youtubeIframe.src = newSrc;
        
            // También puedes obtener y mostrar la miniatura utilizando la API de YouTube
            // En este ejemplo, solo se imprime la URL de la miniatura en la consola
            const thumbnailUrl = `https://img.youtube.com/vi/${getYoutubeVideoId(link)}/maxresdefault.jpg`;
            console.log('Thumbnail URL:', thumbnailUrl);
          }
        
          // Función para obtener el ID del video de YouTube desde la URL
          function getYoutubeVideoId(url) {
            const match = url.match(/[?&]v=([^?&]+)/);
            return match ? match[1] : null;
          }
        
          // Llama a changeVideo con el nuevo enlace del video
          changeVideo('<%= historical[0].urlvideo %>');
          
        </script>
    
      
    </div>
    
    
    

    <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4 sm:max-h-screen m-5">


      <% if (!(!models || models.length === 0)) { %>

        <a href="/model/<%= historical[0].id_historical %>" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 dark:focus:ring-greem-900">
          Ver el modelo 3D
          <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
        </a>

      <% } %>

      
      
      <% if (!(!achievement || achievement.length === 0)) { %>

          <button class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-yellow-700 hover:bg-yellow-800 focus:ring-4 focus:ring-yellow-300 dark:focus:ring-yellow-900 grayscale cursor-not-allowed">
            Logro obtenido
          </button>

      <% } else { %>

        <form action="/getachievement" method="post">
          <input type="hidden" name="id_historical" class="hidden" value="<%= historical[0].id_historical %>">
          <button type="submit" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-yellow-700 hover:bg-yellow-800 focus:ring-4 focus:ring-yellow-300 dark:focus:ring-yellow-900">
            Obtener mi logro
            <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
          </button>
        </form>

      <% } %>


      <a href="/map" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
        Seguir explorando
        <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
  </div>
  

  
  </main>
  <!-- main ends here -->

  <!-- footer -->
  <footer class="border-t mt-2 pt-4 pb-4 lg:px-0">
    <div class="flex">
      </div>

    </div>
  </footer>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
</body>
</html>