<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Tourify</title>
   <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
    
    <link rel="website icon" type="png" href="../../static/images/logo.png">
   <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
        <script src="geolet.js"></script>

        <!-- leaflet css  -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@v0.74.0/dist/L.Control.Locate.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@v0.74.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.74.4/dist/L.Control.Locate.min.css" />



        <!-- Especificaciones para el mapa -->
   <style>

      nav {
        position: relative;
        z-index: 1000; /* Puedes ajustar este valor según sea necesario */
      }

      #map {
        width: 100%;
        height: 100vh;
        position: fixed;
        bottom: 0;
        
      }
      @media (max-width: 768px) {
        #map {
            width: 100%; 
            height: 89.3vh;
        }
      }

      body {
                  margin: 0;
                  padding: 0;
              }

        .leaflet-popup-content a.leaflet-popup-link {
          color: white; 
        }
        .leaflet-container a {
          color: white;
        }  

    </style>


<!-- NAVBAR de la pagina -->   
  <nav id="nav" class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="/homeu" class="flex items-center">
        <img src="../../static/images/logo.png" class="h-12 mr-3" alt="Flowbite Logo" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Tourify</span>
    </a>
    <div class="flex md:order-2">
        <a>

  <div class="flex items-center">
  <img id="avatarButton" type="button" data-dropdown-toggle="userDropdown" data-dropdown-placement="bottom-start" class="w-10 h-10 rounded-full cursor-pointer" src="../../static/usersimages/<%= img[0].image %>" alt="User dropdown">
  </div>

            <!-- Dropdown menu -->
            <div id="userDropdown" class="z-50 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                <div class="px-4 py-3 text-sm text-gray-900 dark:text-white text-center">
                  <div>| <%= img[0].name %> |</div>
                  <div class="font-medium truncate"></div>
                </div>
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">
                  <li>
                    <a href="/profile" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Mi perfil</a>
                  </li>
                  <% if (img[0].role === 2) { %>
                    <div>
                      <a href="/support" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Comentarios</a>
                    </div>
                    <% } %>
                </ul>
                <div class="py-1">
                  <a href="/logout" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Cerrar sesión</a>
                  <div id="userLocation"></div>
                </div>
                
            </div>
                        
        </a>
        
        <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="/homeu" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" aria-current="page">Home</a>
        </li>
        <li>
          <a href="/map" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500">Map</a>
        </li>
        <li>
          <a href="/achievements" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Achievements</a>
        </li>
        <li>
          <a href="/events" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Events</a>
        </li>
        <% if (img[0].role === 2) { %>
          <li>
            <a href="/admin" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Admin</a>
          </li>
        <% } %>
      </ul>
    </div>
    </div>
  </nav>
 
</head>

<!-- Configuraciones del mapa -->

<body>
  <div id="map"></div>
</body>

</html>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.74.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>

   <script>

/* let coordInitial;

       if (req.id_event) {
        
        coordInitial = events.coordinate;

      } else {
       
        coordInitial = '28.643951810520395, -106.0729363634578';
        
      }  */


      // Obtener la geolocalización 
     /*  navigator.geolocation.getCurrentPosition(function(position) { */
        
      /* const [latitude, longitude] = coordInitial.split(',').map(coord => parseFloat(coord.trim())); */


      
      var map = L.map('map').setView([28.643951810520395, -106.0729363634578], 15);

      //DECLARACION DE TODOS LOS ICONOS DE LAS MARCAS

      var catedralIcon = L.icon({
        iconUrl: '../../static/iconsmarks/catedralIcon.png',
        iconSize:     [35, 35],
        iconAnchor:   [22, 94],
        popupAnchor:  [-3, -76]
      });

      var restaurantIcon = L.icon({
        iconUrl: '../../static/iconsmarks/restaurantIcon.png',
        iconSize:     [35, 35],
        iconAnchor:   [22, 94],
        popupAnchor:  [-3, -76]
      });

      var eventIcon = L.icon({
        iconUrl: '../../static/iconsmarks/eventIcon.png',
        iconSize: [32, 32],
        iconAnchor: [22, 94],
        popupAnchor: [-3, -76]
      });

      var parchmentIcon = L.icon({
        iconUrl: '../../static/iconsmarks/parchmentIcon.png',
        iconSize: [35, 40],
        iconAnchor: [22, 94],
        popupAnchor: [-3, -76]
      });

      var townIcon = L.icon({
        iconUrl: '../../static/iconsmarks/townIcon.png',
        iconSize: [35, 40],
        iconAnchor: [22, 94],
        popupAnchor: [-3, -76]
      });

      var monumentIcon = L.icon({
        iconUrl: '../../static/iconsmarks/monumentIcon.png',
        iconSize: [35, 40],
        iconAnchor: [22, 94],
        popupAnchor: [-3, -76]
      });

      var theatreIcon = L.icon({
        iconUrl: '../../static/iconsmarks/theaterIcon.png',
        iconSize: [35, 35],
        iconAnchor: [22, 94],
        popupAnchor: [-3, -76]
      });

      var museumIcon = L.icon({
        iconUrl: '../../static/iconsmarks/museumIcon.png',
        iconSize: [35, 40],
        iconAnchor: [22, 94],
        popupAnchor: [-3, -76]
      });


                                  // Marcadores que aparecen en el mapa


        //RESTAURANTES MARCAS

        <% restaurants.forEach(restaurant => { %>
        L.marker([<%= restaurant.coordinate %>], { icon: restaurantIcon }).addTo(map)
        .bindPopup('<div class="m-2 mb-1"><span class="inline-flex justify-center items-center py-0.5 px-1 text-xs font-medium text-center text-white rounded-lg bg-green-700">COMIDA</span></div><div class="block px-4 py-2 text-center font-semibold text-lg text-blue-900 hover:text-blue-900 transition duration-300 ease-in-out"><%= restaurant.name %></div>   <div class="text-center"><img src="../../static/imagesrestaurants/<%= restaurant.image %>" alt="<%= restaurant.name %>" class="mx-auto" width="300" /><p><%= restaurant.description %></p></div>');
        <% }); %>

        //EVENTOS MARCAS
        
        <% events.forEach(evento => { %>
        L.marker([<%= evento.coordinate %>], { icon: eventIcon }).addTo(map)
        .bindPopup('<div class="m-2 mb-1"><span class="inline-flex justify-center items-center py-0.5 px-1 text-xs font-medium text-center text-white rounded-lg bg-green-700">EVENTO</span></div><div class="block px-4 py-2 text-center font-semibold text-lg text-blue-900 hover:text-blue-900 transition duration-300 ease-in-out"><%= evento.name %></div>   <div class="text-center"><img src="../../static/imagesevents/<%= evento.image %>" alt="<%= evento.name %>" class="mx-auto" width="300" /><p><%= evento.description %></p></div>');
        <% }); %>
        
        //LUGARES HISTORICOS MARCAS
        
        <% historicalplaces.forEach(historicalplace => { %>
        L.marker([<%= historicalplace.coordinate %>], { icon: parchmentIcon }).addTo(map)
        .bindPopup('<div class="m-2 mb-1"><span class="inline-flex justify-center items-center py-0.5 px-1 text-xs font-medium text-center text-white rounded-lg bg-blue-700">LUGAR HISTORICO</span></div><div class="block px-4 py-2 text-center font-semibold text-base text-black hover:text-blue-900 transition duration-300 ease-in-out"><%= historicalplace.name %></div>   <div class="text-center"><img src="../../static/imageshistoricals/<%= historicalplace.image %>" alt="<%= historicalplace.name %>" class="mx-auto" width="300" /><p></p><a href="/historicals/<%= historicalplace.id_historical %>" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full mb text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900"">Ver más</a></div>');
        <% }); %>

          //MUSEOS MARCAS

        <% museums.forEach(museum => { %>
        L.marker([<%= museum.coordinate %>], { icon: museumIcon }).addTo(map)
        .bindPopup('<div class="m-2 mb-1"><span class="inline-flex justify-center items-center py-0.5 px-1 text-xs font-medium text-center text-white rounded-lg bg-blue-700">MUSEO</span></div><div class="block px-4 py-2 text-center font-semibold text-base text-black hover:text-blue-900 transition duration-300 ease-in-out"><%= museum.name %></div>   <div class="text-center"><img src="../../static/imageshistoricals/<%= museum.image %>" alt="<%= museum.name %>" class="mx-auto" width="300" /><p></p><a href="/historicals/<%= museum.id_historical %>" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full mb text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900"">Ver más</a></div>');
        <% }); %>

        //MONUMENTOS MARCAS

        <% monuments.forEach(monument => { %>
        L.marker([<%= monument.coordinate %>], { icon: monumentIcon }).addTo(map)
        .bindPopup('<div class="m-2 mb-1"><span class="inline-flex justify-center items-center py-0.5 px-1 text-xs font-medium text-center text-white rounded-lg bg-blue-700">MONUMENTO</span></div><div class="block px-4 py-2 text-center font-semibold text-base text-black hover:text-blue-900 transition duration-300 ease-in-out"><%= monument.name %></div>   <div class="text-center"><img src="../../static/imageshistoricals/<%= monument.image %>" alt="<%= monument.name %>" class="mx-auto" width="300" /><p></p><a href="/historicals/<%= monument.id_historical %>" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full mb text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900"">Ver más</a></div>');
        <% }); %>

          //TEATROS MARCAS

        <% theaters.forEach(theater => { %>
        L.marker([<%= theater.coordinate %>], { icon: theatreIcon }).addTo(map)
        .bindPopup('<div class="m-2 mb-1"><span class="inline-flex justify-center items-center py-0.5 px-1 text-xs font-medium text-center text-white rounded-lg bg-blue-700">TEATRO</span></div><div class="block px-4 py-2 text-center font-semibold text-base text-black hover:text-blue-900 transition duration-300 ease-in-out"><%= theater.name %></div>   <div class="text-center"><img src="../../static/imageshistoricals/<%= theater.image %>" alt="<%= theater.name %>" class="mx-auto" width="300" /><p></p><a href="/historicals/<%= theater.id_historical %>" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full mb text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900"">Ver más</a></div>');
        <% }); %>

          //PUEBLOS MAGICOS MARCAS

          <% towns.forEach(town => { %>
        L.marker([<%= town.coordinate %>], { icon: townIcon }).addTo(map)
        .bindPopup('<div class="m-2 mb-1"><span class="inline-flex justify-center items-center py-0.5 px-1 text-xs font-medium text-center text-white rounded-lg bg-blue-700">PUEBLO MAGICO</span></div><div class="block px-4 py-2 text-center font-semibold text-base text-black hover:text-blue-900 transition duration-300 ease-in-out"><%= town.name %></div>   <div class="text-center"><img src="../../static/imageshistoricals/<%= town.image %>" alt="<%= town.name %>" class="mx-auto" width="300" /><p></p><a href="/historicals/<%= town.id_historical %>" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full mb text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900"">Ver más</a></div>');
        <% }); %>



          //MENSAJE DE ABAJO A LA DERECHA QUE CITA A LEAFLET

              const Jawg_Sunny = L.tileLayer('https://{s}.tile.jawg.io/jawg-sunny/{z}/{x}/{y}{r}.png?access-token=yj75lsDgheFJbRZmAjiim07TKAapfZ5oHwT501C8AsBCb8WUuVjShJlyZozGX6Bt', {
                attribution: '<a href="http://jawg.io" title="Tiles Courtesy of Jawg Maps" target="_blank">&copy; <b>Jawg</b>Maps</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                minZoom: 0,
                maxZoom: 22,
                subdomains: 'abcd',
              });



        //PRUEBA DE GEOLOCALIZACION 

              //Se añaden todas las marcas al mapa
        
                Jawg_Sunny.addTo(map);
                /* 
                map.locate({setView: true, maxZoom: 16});

                function onLocationFound(e) {
                    var userLocation = [28.632218049278386, -106.07333149457398];
                    var radius = e.accuracy / 10;

                    L.marker(userLocation).addTo(map)
                        .bindPopup("Estás dentro de " + radius + " metros de este punto").openPopup();

                    L.circle(userLocation, radius).addTo(map);
                }

                map.on('locationfound', onLocationFound);
                L.control.locate().addTo(map); */

                L.geolet({ position: 'bottomleft' }).addTo(map);/* }); */


   </script>

   


<!-- BOTON QUE NO SE PARA QUE ES -->

<button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
   <span class="sr-only">Open sidebar</span>
   <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
   </svg>
</button>





 <!-- ACA EMPIEZA EL ALERT -->



    <!-- Alert para indicar que hay eventos disponibles -->
<div class="fixed bottom-0 w-full flex items-center justify-center z-50 sm:top-0 sm:bottom-auto mb-4 sm:relative">
   <div id="alert-additional-content-1" class="p-4 mb-4 text-white border border-blue-300 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-white-400 dark:border-blue-800 m-4" role="alert">
     <div class="flex items-center">
       <svg class="flex-shrink-0 w-4 h-4 mr-2" aria-hidden="true" xmlns="https://cdn-icons-png.flaticon.com/512/948/948036.png" fill="currentColor" viewBox="0 0 20 20">
            <path d="M18.807,0.337h-3.616v1.808c0,0.475-0.384,0.859-0.859,0.859c-0.474,0-0.859-0.384-0.859-0.859V0.337H6.731
            v1.808c0,0.475-0.384,0.859-0.859,0.859c-0.474,0-0.859-0.384-0.859-0.859V0.337h-3.82c-0.474,0-0.859,0.384-0.859,0.859v17.61
            c0,0.477,0.384,0.859,0.859,0.859h17.613c0.474,0,0.859-0.382,0.859-0.859V1.195C19.665,0.721,19.281,0.337,18.807,0.337z
             M17.948,17.946H2.052V4.528h15.896V17.946z"></path>
         </svg>


         <!-- Informacion de los eventos -->
       </svg>
       <span class="sr-only">Información</span>
       <h3 class="text-lg font-medium">Aviso de eventos en Chihuahua, Chih.</h3>
     </div>

    <% events.forEach((event) => { %>
      <div class="flex">
     <div class="mt-2  text-sm">
      <%= event.description %></div>
    </div>
      
    <% }) %> 


<div class="flex">
  <div class="mt-8 mb-2 text-sm">
    <div class="flex">
          <!-- Botones para que el usuario interactue o cierre la pestañita -->
      <a href="/events">
       <button type="button" class="text-white bg-blue-800 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 mr-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover-bg-blue-700 dark:focus-ring-blue-800">
         <svg class="-ml-0.5 mr-2 h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 14">
           <path d="M10 0C4.612 0 0 5.336 0 7c0 1.742 3.546 7 10 7 6.454 0 10-5.258 10-7 0-1.664-4.612-7-10-7Zm0 10a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z"/>
         </svg>
         Ver más
       </button>
      </a>
       <button type="button" class="text-white bg-transparent border border-blue-800 hover-bg-blue-900 hover-text-white focus-ring-4 focus-outline-none focus-ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 text-center dark-hover-bg-blue-600 dark-border-blue-600 dark-text-blue-400 dark-hover-text-white dark-focus-ring-blue-800" data-dismiss-target="#alert-additional-content-1" aria-label="Cerrar">
         Cerrar
       </button>
    </div>
  </div>
</div>






<!-- SCRIPT QUE NO SE PARA QUE ES -->

   <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>


   
<!-- SCRIPT PARA LO DE LA GEOLOCALIZACION -->

